<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Insfers.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A9459EC30FB79043C7E260DDD657E79983A06FCE</string>
				<key>dateExpires</key>
				<string>11/10/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A9459EC30FB79043C7E260DDD657E79983A06FCE</string>
						<key>dateExpires</key>
						<string>11/10/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CTX25V5TV4</string>
						<key>name</key>
						<string>INSFERS INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CTX25V5TV4.com.InsfersHassan.InsfersApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CTX25V5TV4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Insfers.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>96bf0c39-f1f6-4c88-8836-b171443b64d5</string>
				<key>dateExpires</key>
				<string>11/10/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.InsfersHassan.InsfersApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CTX25V5TV4</string>
				<key>name</key>
				<string>INSFERS INC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
